*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*----margin of nav items-----*/
.algorithms>button{
    margin: 10px;
    padding: 5px;
}

.algorithms>button:hover{
    color: black;
    background-color: white;
}

li{
    margin:20px;
}

.algorithms{
    margin-top: 10px;
}


/*------bar related css cringe --*/
.bar{
    background: skyblue;
    border: 0.1vw solid black;
    width: calc(1vw - 0.45px);
    display: inline-flex;
}
.visualization{
    margin-top: 40px;
    display: flex;
    width: 100%;
    height:max-content;
    padding-bottom: 50px;
    justify-content: center;
}

.popup{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    width:fit-content;
    height: fit-content;
    text-align: center;
    font-size: 2vh;
    color: white;
    position: absolute;
    display: block;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    padding: 15px;
}

#popup{
    position:relative;
    padding: 10px;
    width: fit-content;
    border:1px solid black;
    border-radius: 10px;
    background-color: skyblue;
    position: relative;
    margin:5px;
}

#popup:hover{
    color: white;
    background-color: black;
    border:1px solid white;
    cursor: pointer;
}

.wrapper{
    border: 3px solid black;
    width: fit-content;
    padding: 10px;
    height: fit-content;
    margin:auto;
}

#insertion-sort-index{
    display: none;
}

#selection-sort-index{
    display:none;
}

#bubble-sort-index{
    display: flex;
}

